<?xml version="1.0"?>
<model>
  <name>parked_car</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>
  <author>
    <name>문규석</name>
    <email>msk7676@naver.com</email>
  </author>
  <description>
    주차면 점유 표현용 정적 차량. 런타임 스폰/삭제로 점유 상태를 바꾼다.
      ros2 run ros_gz_sim create -world parking_lot -file $(ros2 pkg prefix parking_lot_world)/share/parking_lot_world/models/parked_car/model.sdf -name parked_car_C07 -x -1.25 -y 6.70 -Y -1.5708
      gz service -s /world/parking_lot/remove --reqtype gz.msgs.Entity --reptype gz.msgs.Boolean --timeout 2000 --req 'name: "parked_car_C07", type: MODEL'
  </description>
</model>
